<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>VRSketch</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!--vt add -->
    <link rel="stylesheet" href="styles/vrsketch.css">
    <!--vt end -->
  </head>
  <body ng-app="vrsketchApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">vrsketch</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/">Contact</a></li>
              <li><a ng-href="#/vrsketchApp">vrsketchapp</a></li>
              <li><a ng-href="#/vrsketch">vrsketch</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- <div keypress-events class="container keypress-events" id="canvas_container" ng-controller="VrsketchCtrl">  -->
    <div class="container" id="canvas_container" ng-controller="VrsketchCtrl"> 
    <!-- <div ng-view=""></div> -->
    

    <!--vt add -->
      <button type="button" class="button_ctrl" ng-click="toggleAnimation()">toggle animation</button>
      <!-- <canvas id="viewer" class="keypress-events" keypress-events=""></canvas> -->
      <canvas id="viewer" class="keypress-events" canvas-keys=""=""></canvas>
      vt says hi
      vtsketchController:
    </div>
    <div class="vt-div" ng-controller="VrsketchCtrl">
      <button type="button" class="vt_button" ng-click="doIt()">doIt</button>
      <br/>
    </div>
    <div class="vt-div" ng-controller="VrsketchCtrl">
      <button type="button" class="vt_button" ng-click="vt_do_it_2()">vt_do_it_2</button>
      <br/>
    </div>
    <div class="vt-div" ng-controller="VrsketchCtrl">
      <button type="button" class="debug" ng-click="debug()">debug it</button>
      <br/>
    </div>
    
    <!--vt end -->
    
    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/threejs/build/three.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/base.js"></script>
        <script src="scripts/services/index.js"></script>
        <script src="scripts/controllers/vrsketch.js"></script>
        <script src="scripts/services/vrsketchservice.js"></script>
        <script src="scripts/services/textarea.js"></script>
        <script src="scripts/services/controls.js"></script>
        <script src="scripts/services/camera.js"></script>
        <script src="scripts/directives/keypressevents.js"></script>
        <script src="scripts/directives/canvaskeys.js"></script>
        <script src="scripts/services/utils.js"></script>
        <script src="scripts/services/backgroundplane.js"></script>
        <script src="scripts/services/sparsegridbackground.js"></script>
        <!-- endbuild -->
    <!--vt manual add -->
    <script src="lib/VRControls.js"></script>
    <script src="lib/VREffect.js"></script>
    <script src="lib/webvr-manager.js"></script>
    <script src="lib/webvr-polyfill.js"></script>
    <script src="lib/stats.min.js"></script>
    <!-- <script src="lib/dat.gui.min.js"></script> -->
    <script src="lib/dat.gui.js"></script>
    <!--vt end -->
</body>
</html>
